* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* 
==================================================
- main body
==================================================
*/
@import url(https://fonts.googleapis.com/css?family=Raleway);

html,
body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	background: #fff;
	font-size: 15px;
	color: #777777;
	line-height: 1.7em;
	font-weight: 400;
	padding: 0;
	margin: 0 auto;
}

.pt-50 {
	max-width: 1000px;
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.title-text h2 {
	position: relative;
    padding-left: 26px;
    color: #727376;
    font-size: 28px;
}
.title-text h2::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-image: linear-gradient(0deg, rgba(28, 99, 173) 0%, rgba(0, 88, 179) 100%);
}
h3 {
	color: #222338;
}

/* 
==================================================
- h , p
==================================================
*/
/* Just for the example */
h1 {
	font-family: sans-serif;
	color: #660066;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.5em;
}


h1 span {
	font-weight: normal;
	font-size: 0.5em;
}
p, ul li{
	font-size: 15px;
    line-height: 1.8;
    color: #5f5f5f;
    margin-bottom: 15px;
    font-weight: 400;
    letter-spacing: 0.3px;
    font-family: 'Montserrat', sans-serif;
}

/* 
==================================================
- Header 
==================================================
*/
header {
	position: fixed;
	top: 0px;
	padding: 20px 0;
	width: 100%;
	height: 130px;
	color: #fff;
	background-color: transparent;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	z-index: 1000;
}

header.stick {
	height: 50px;
	text-align: left;
	padding: 10px 0 !Important;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	background: #1c63ad;
}

.wrap-container {
	padding-left: 15px;
	padding-right: 15px;
}

.branding {
	width: 25%;
	float: left;
	text-align: left;
	height: 90px;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.branding.stick {
	height: 30px;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.logo-lg {
	max-width: 100px;
}

.logo-sm {
	max-width: 100px;
	display: none;
}

.menu {
	width: 75%;
	float: left;
	text-align: right;
}

.listMenu {
	display: none;
}

/* 
==================================================
- The Mobile Menu
==================================================
*/

/* The Menu Button */
.mobileMenuButton {
	display: inline-block;
	position: relative;
	width: 30px;
	height: 34px;
	z-index: 1000;
	border-radius: 4px;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;

}

.mobileMenuButton:hover {
	border: 1px solid #000;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 4px;
}

.mobileMenuButton:active {
	border: 1px solid #000;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 4px;
}

.mobileMenuButton:hover span {
	background: #fff;
}

.mobileMenuButton:hover span:before {
	background: #fff;
}

.mobileMenuButton:hover span:after {
	background: #fff;
}


.mobileMenuButton span {
	margin-top: 50%;
}

.mobileMenuButton span,
.mobileMenuButton span:before,
.mobileMenuButton span:after {
	cursor: pointer;
	border-radius: 5px;
	height: 4px;
	width: 22px;
	background: #fff;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	content: '';
}

.mobileMenuButton span:before {
	top: -8px;
}

.mobileMenuButton span:after {
	bottom: -8px;
}



/* The Menu */
.mobileMenu {
	width: 240px;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	background-color: #1c63ad;
	z-index: 1200;
	text-align: right;
	padding-top: 100px;
	transition: all .3s ease-in-out;

}

.slideOut {
	margin-right: -240px;
	transition: all .3s ease-in-out;
}

.slideIn {
	margin-right: 0px;
}

.mobileMenu h2 {
	font-family: sans-serif;
	color: #fff;
	font-size: 36px;
	padding-right: 30px;
	margin-bottom: 30px;
}

.mobileMenu ul {
	list-style: none;
}


.mobileMenu li {
	border-bottom: 1px solid #e3e3e3;
	padding: 0 30px;
}

.mobileMenu li a {
	color: #fff;
	line-height: inherit;
	padding: 0;
	font-weight: 600;
	padding: 12px 0;
	font-size: 15px;
	text-decoration: none;
	font-family: sans-serif;
	display: block;
	/* CSS Transition */
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.mobileMenu li a:hover {
	text-shadow: 0px 0px 2px #ffffff;
	text-decoration: none;
}


.overlay {
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	opacity: 0;
	position: fixed;
	transition: all .3s ease-in-out;
	z-index: 1150;
}




/* 
==================================================
- Media Query Mobile First Aproach
==================================================
*/
@media (min-width:769px) {
	h1 {
		font-size: 2em;
	}

	.overlay {
		display: none !important;
	}

	.mobileMenu {
		display: none;
	}

	.wrap-container {
		width: 80%;
		margin: 0 auto;
	}

	.mobileMenuButton {
		display: none;
	}

	.listMenu {
		display: inherit;
	}

	.listMenu li {
		display: inline;
		padding: 0px 15px;
	}


	.listMenu li a {
		color: #fff;
		line-height: inherit;
		padding: 0;
		font-weight: 600;
		font-size: 15px;
		text-decoration: none;
		font-family: sans-serif;
		display: inline-block;
		/* CSS Transition */
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}

	.listMenu li a:hover {
		text-shadow: 0px 0px 2px #ffffff;
		text-decoration: none;
	}

	.mobileButton {
		display: none;
	}

}

/* 
==================================================
- Video
==================================================
*/
.showcase .dsn-video {
	width: 100%;
}

/* 
==================================================
- Section 2
==================================================
*/
section {
	margin: 0 auto;
}

.three-column-images .img-thumbnail {
	border: none;
	padding: 0;
	max-height: 190px;
	width: 100%;
}

.three-column-images {
	background: white;
	margin: 2em 0;
}

.three-column-images .row {
	text-align: center;
}

.three-column-images b {
	font-weight: 700;
}

.three-column-images a {
	color: #000;
	text-decoration: none;
}

section {
	margin: 0 auto;
}

.three-column-images .img-thumbnail {
	border: none;
	padding: 0;
	max-height: 190px;
	width: 100%;
}

.three-column-images {
	background: white;
}

.three-column-images .row {
	text-align: center;
}

.three-column-images b {
	font-weight: 700;
}

.three-column-images a {
	color: #000;
	text-decoration: none;
}

/* 
==================================================
- Section3
==================================================
*/
.filters ul {
	display: flex;
	justify-content: center;
	list-style: none;
	border-bottom: 2px solid #D9D9D9;
	margin: 30px 15px
}

.filters ul li {
	display: inlnie-block;
	text-align: center;
	margin-right: 12px;
	padding: 0 5px 8px 5px;
	font-weight: 700;
	font-size: 16px;
	cursor: pointer;
	position: relative;
	margin-bottom: -2px;
	color: #777;
	transition: 0.3s;
	text-transform: uppercase;
}

.filters ul li:hover {
	color: #1c63ad;
}

.filters ul li.is-checked {
	border-bottom: 2px solid #1c63ad;
}

.filters ul li:last-child {
	margin-right: 0;
}

.grid .grid-item h1 {
	background: #EEEEEE;
	height: 150px;
	line-height: 150px;
	color: white;
	font-size: 3em;
	text-align: center;
	margin-bottom: 30px;
}

#some-box {
	background: #fff;
	padding: 40px 0px 80px;
}

#some-box h1 {
	text-align: center;
}

#some-box h3 {
	font-size: 26px;
}

#some-box a {
	color: #70BCB8;
	text-decoration: none;
	display: block;
	font-weight: bold;
}

#some-box a:hover {
	color: #8E7BB2;
}

article.row {
	width: 100%;
	max-width: 900px;
	margin: 0 4em
}

article.row .text {
	padding: 50px 0;
}

article.row div {
	width: 49.4%;
	display: inline-block;
	position: relative;
	border: 1px solid white;
}

#idea-one img,
#idea-two img,
#idea-three img {
	width: 100%;
	bottom: -20px;
}

/* 
==================================================
- section4
==================================================
*/
#section4 .infographic {
	text-align: center;
	margin-bottom: 4em;
	width: 60em;
	margin: 0 4em;
}

#section4 .graphic {
	width: 70em;
	margin: 0 2em;
}

#section4 .edu-percentage li {
	list-style-type: disc;
}

#section4 .title-text {
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

/* 
==================================================
- section5
==================================================
*/

/*START NEWSLETTER CSS*/
.subscribe {
	display: block;
	position: relative;
	margin-top: 15px;
	width: 100%;
}

.subscribe__input {
	background-color: #fff;
	border: medium none;
	border-radius: 5px;
	color: #333;
	display: block;
	font-size: 15px;
	font-weight: 500;
	height: 60px;
	letter-spacing: 0.4px;
	margin: 0;
	padding: 0 150px 0 20px;
	text-align: center;
	text-transform: capitalize;
	width: 100%;
}

.subscribe__btn {
	background-color: transparent;
	border-radius: 0 25px 25px 0;
	color: #4295dd;
	cursor: pointer;
	display: block;
	font-size: 20px;
	height: 60px;
	position: absolute;
	right: 0;
	top: 0;
	width: 60px;
}

.subscribe__btn i {
	transition: all 0.3s ease 0s;
}

.subscribe__btn:hover i {
	color: #143f8f;
}

button {
	padding: 0;
	border: none;
	background-color: transparent;
	-webkit-border-radius: 0;
	border-radius: 0;
}

/*START SOCIAL PROFILE CSS*/
.social_profile {
	margin-top: 40px;
}

.social_profile ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}

.social_profile ul li {
	float: left;
}

.social_profile ul li a {
	text-align: center;
	border: 0px;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	margin: 0px 5px;
	font-size: 18px;
	color: #fff;
	border-radius: 30px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	display: block;
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.social_profile ul li a:hover {
	background: #143f8f;
	border: 1px solid #143f8f;
	color: #fff;
	border: 0px;
}

/*END SOCIAL PROFILE CSS*/
.copyright {
	margin-top: 70px;
	padding-top: 40px;
	color: #fff;
	font-size: 15px;
	border-top: 1px solid rgba(255, 255, 255, 0.4);
	text-align: center;
}

.copyright a {
	color: #4295dd;
	transition: all 0.2s ease 0s;
}

.copyright a:hover {
	color: #143f8f;
}

.carousel .slick-slide {
	width: 100%;
}

/* responsive */
@media only screen and (max-width: 768px) {
	.single_footer {
		margin-bottom: 30px;
	}

	.subscribe__input {
		padding: 0 50px 0 20px;
	}

	.aos-init {
		margin: 2em 0;
	}

	#section4 .graphic {
		margin: 0 auto;
	}

	.subscribe__btn {
		right: 0px;
	}

	.social_profile ul li a {
		margin-right: 10px;
		margin-bottom: 10px;
	}

	.filters ul {
		display: inline;
	}

	article.row div {
		min-width: 300px;
		text-align: center;
		display: block;
	}

	#some-other-box h3 {
		text-align: center;
	}

	#idea-one img,
	#idea-two img,
	#idea-three img {
		position: relative;
		margin: auto;
		left: inherit;
		bottom: inherit;
	}

	#idea-two {
		display: -webkit-box;
		display: -moz-box;
		display: box;
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		box-orient: vertical;
	}

	#idea-two div:first-of-type {
		-webkit-box-ordinal-group: 2;
		-moz-box-ordinal-group: 2;
		box-ordinal-group: 2;
	}

	.footer {
		margin-bottom: 280px;
	}

	.card-body {
		width: 200px;
		height: 250px;
	}

	.three-column-images .img-thumbnail {
		max-width: 100%;
		max-height: 100%;
	}
}

@media (max-width: 900px) {
	.menu-button-container {
		display: flex;
	}

	.menu {
		position: absolute;
		top: 0;
		margin-top: 69px;
		left: 0;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	#menu-toggle~.menu li {
		height: 0;
		margin: 0;
		padding: 0;
		border: 0;
		overflow: hidden;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}

	#menu-toggle:checked~.menu li {
		border: 1px solid #e3e3e3;
		height: 2.5em;
		padding: 0.5em;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}

	.menu>li {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 0.5em 0;
		width: 100%;
		color: white;
		background-color: #fff;
	}

	.menu>li:not(:last-child) {
		border-bottom: 1px solid #e3e3e3;
	}
}

/* 
==================================================
- Footer
==================================================
*/
a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	outline: none;
}

a,
a:active,
a:focus {
	color: #333;
	text-decoration: none;
	transition-timing-function: ease-in-out;
	-ms-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	-webkit-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	-ms-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

section {
	padding: 42px 0;
	/* min-height: 100vh;
*/
}
#section5 .center-slider {
	margin: 3em 0;
}

.footer {
	background: linear-gradient(105deg, #6e99e6, #093c94);
	/*padding-top:80px;*/
	padding-bottom: 40px;
	margin-top: 40px;
}

.footer .row {
	padding: 0 4em;
}

.footer b {
	color: #fff;
	margin: 5px
}

/*END FOOTER SOCIAL DESIGN*/

.single_footer h4 {
	color: #fff;
	margin-top: 0;
	margin-bottom: 25px;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 16px;
}

.single_footer h4::after {
	content: "";
	display: block;
	height: 2px;
	width: 40px;
	background: #fff;
	margin-top: 20px;
}

.single_footer p {
	color: #fff;
}

.single_footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.single_footer ul li a {
	color: #fff;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	line-height: 36px;
	font-size: 14px;
	/*text-transform: capitalize;*/
	text-decoration: none;
}

.single_footer ul li a:hover {
	text-shadow: 0px 0px 2px #fff;
}

.single_footer_address ul li {
	color: #fff;
}

.single_footer_address ul li span {
	font-weight: 400;
	color: #fff;
	line-height: 28px;
}

.contact_social ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}

/* 
==================================================
- Responsive
==================================================
*/

@media (max-width: 576px) {
	.container {
		max-width: 420px;
	}

	section {
		padding: 20px;
	}

	.social_profile ul li a {
		width: 40px;
		height: 40px;
		line-height: 40px;
	}

	.filters ul {
		display: inline;
	}

	.title-text h2 {
		position: relative;
		font-size: 24px;
		font-weight: 700;
		letter-spacing: 1px;
		line-height: 30px;
		color: #222338;
	}

	article.row {
		margin: 0 auto;
	}
	#section4 .infographic {
		margin: 0 auto;
	}
	.pt-50 {
		margin: 0 20px;
	}
	.menu {
		margin-top: 0px;
		padding:8px;
	}
	article.row .text {
		padding: 0;
	}
	.col-md-12 {
		margin-bottom: 10em;
	}
	.col-md-12 .row {
		padding: 0 4em;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1000px;
	}

	.section2 .icon-one {
		position: absolute;
		left: 2%;
		width: 42px;
		height: 47px;
		display: inline-block;
		background: url(image/icon-1.png) no-repeat;
	}

	.section2 .icon-two {
		position: absolute;
		left: 6%;
		margin-top: 10em;
		width: 42px;
		height: 47px;
		display: inline-block;
		background: url(image/icon-2.png) no-repeat;
	}

	.section2 .icon-three {
		position: absolute;
		right: 5em;
		width: 42px;
		height: 47px;
		display: inline-block;
		background: url(image/icon-3.png) no-repeat;
	}

	.section2 .icon-four {
		position: absolute;
		right: 8em;
		margin-top: 10em;
		width: 42px;
		height: 47px;
		display: inline-block;
		background: url(image/icon-4.png) no-repeat;
	}

	.section2 .icon-five {
		position: absolute;
		left: 3em;
		margin-top: 20em;
		width: 42px;
		height: 47px;
		display: inline-block;
		background: url(image/icon-1.png) no-repeat;
	}

	.section2 .icon-six {
		position: absolute;
		right: 4em;
		margin-top: 20em;
		width: 42px;
		height: 47px;
		display: inline-block;
		background: url(image/icon-3.png) no-repeat;
	}

	.section2 .icon-seven {
		position: absolute;
		left: 6%;
		margin-top: 30em;
		width: 42px;
		height: 47px;
		display: inline-block;
		background: url(image/icon-2.png) no-repeat;
	}

	.section2 .icon-eight {
		position: absolute;
		right: 8em;
		margin-top: 30em;
		width: 42px;
		height: 47px;
		display: inline-block;
		background: url(image/icon-4.png) no-repeat;
	}

	.section2 .icon-nine {
		position: absolute;
		left: 3em;
		margin-top: 40em;
		width: 42px;
		height: 47px;
		display: inline-block;
		background: url(image/icon-1.png) no-repeat;
	}

	.section2 .icon-ten {
		position: absolute;
		right: 4em;
		margin-top: 40em;
		width: 42px;
		height: 47px;
		display: inline-block;
		background: url(image/icon-3.png) no-repeat;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

.wrapper {
	padding: 70px 0;
}

/* return-to-top */
.m-backtotop {
    position: fixed;
    bottom: -50px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #1c63ad;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 0.6em 1em 0.2em #0063c766;
    opacity: 0;
    overflow: hidden;
		color:#fff;
}

.m-backtotop.active {
      bottom: 15px;
      opacity: 1;
    }

      .m-backtotop.arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        opacity: 1;
      }
      .m-backtotop.text {
        text-transform: uppercase;
        font-weight: 900;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(50%) translateX(-50%);
        opacity: 0;
        margin-top: 1px;
      }

	  .m-backtotop:hover {
      transform: scale(1.1);
			bottom:20px;
      cursor: pointer;
      background: darken(#222, 15%);
			box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
	  }
			
				.m-backtotop.arrow {
          transform: translateY(-150%) translateX(-50%);
          opacity: 0;
        }
        .m-backtotop.text {
          transform: translateY(-50%) translateX(-50%);
          opacity: 1;
        }
		.fa-arrow-up {
			margin: 1em;
		}
